{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: {{ product.display_price }}</p>
                    <form action="{% url 'create-checkout-session' pk=product.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="btn btn-primary">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}